<!--Created by Tarnos on 2017-02-24.
-->
<div class="col-xs-12" ng-controller="PlayerController">
    <h3 class="text-center">Stats</h3>
    <div class="row">
        <div class="col-xs-12"><span>Points: {{player.statPoints}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-3">
            <img ng-src="img/baseStat.png" uib-popover="Base" popover-trigger="'mouseenter'" />
        </div>
        <div class="col-xs-2">
            <img ng-src="img/equipStat.png" uib-popover="Equip" popover-trigger="'mouseenter'" />
        </div>
        <div class="col-xs-2">
            <img ng-src="img/totalStat.png" uib-popover="Total" popover-trigger="'mouseenter'" />
        </div>
    </div>
    <div class="row" ng-repeat="(key, stat) in player.baseStats">
        <div class="col-xs-3">
            <img ng-src="img/{{key | camelCase}}.png" uib-popover="{{key}}" popover-trigger="'mouseenter'" />
        </div>
        <div class="col-xs-2"><span>{{stat}}</span>
        </div>
        <div class="col-xs-2"><span>{{player.equippedStat(key)}}</span>
        </div>
        <div class="col-xs-2"><span>{{player.totalStat(key)}}</span>
        </div>
        <div class="col-xs-1">
            <button ng-click="player.addStat(key, 100000)" ng-show="player.statPoints">+</button>
        </div>
    </div>
</div>
